.container {
  max-width: 575px;
  margin: auto;
  display: grid;
  place-items: center;
  height: 100vh;
}

.row {
  display: flex;
}

.column-full {
  width: 100%;
}

.column-flex {
  flex-basis: auto;
}
